<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title}}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>{{content}}</h1>
    </div>

    <footer>
        <ul class="social-media-list">
            <li><a href="https://github.com/SoTaInverSpinel">
                    <svg class="svg-icon">
                        <use xlink:href="_site/assets/minima-social-icons.svg#github"></use>
                    </svg> <span class="username">STInverSpinel</span></a>
            </li>
            <li><a href="https://www.twitter.com/STInverSpinel">
                    <svg class="svg-icon">
                        <use xlink:href="../_site/assets/minima-social-icons.svg#twitter"></use>
                    </svg>
                    <span class="username">STInverSpinel</span></a></li>
        </ul>
    </footer>
</body>

</html>